WiredHack2015/Web References/sitedata/SiteData.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateDataTable">
        <s:complexType />
      </s:element>
      <s:element name="UpdateDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDataTableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="UpdateDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDataTable" />
  </wsdl:message>
  <wsdl:message name="UpdateDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataTableResponse" />
  </wsdl:message>
  <wsdl:portType name="SiteDataSoap">
    <wsdl:operation name="UpdateDataTable">
      <wsdl:input message="tns:UpdateDataTableSoapIn" />
      <wsdl:output message="tns:UpdateDataTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SiteDataSoap" type="tns:SiteDataSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDataTable">
      <soap:operation soapAction="http://tempuri.org/UpdateDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SiteDataSoap12" type="tns:SiteDataSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UpdateDataTable">
      <soap12:operation soapAction="http://tempuri.org/UpdateDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SiteData">
    <wsdl:port name="SiteDataSoap" binding="tns:SiteDataSoap">
      <soap:address location="http://localhost:61499/SiteData.asmx" />
    </wsdl:port>
    <wsdl:port name="SiteDataSoap12" binding="tns:SiteDataSoap12">
      <soap12:address location="http://localhost:61499/SiteData.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>